*.iml
/.gradle/
/local.properties
/.idea/
/build/
/app/build/
/captures
.externalNativeBuild
.*.sw*
.settings/
.classpath
.project

*.jar
*.so

arm/
arm64-v8a/
arm64/
armeabi/
x86/
x86_64/

external/.openconnect-sources
external/curl/
